<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
				name="description"
				content="MySchoolEra is a user-friendly platform designed to help manage school-related tasks efficiently. It provides tools for organizing schedules, tracking assignments, and facilitating communication between students, teachers"
				/>

		<!-- Always include this line of code!!! -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" href="img/favicon.png" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
		<link rel="manifest" href="manifest.webmanifest" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
				href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
				rel="stylesheet"
				/>

		<link rel="stylesheet" href="css/general.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/queries.css" />

		<script
				type="module"
				src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
				></script>
		<script
				nomodule=""
				src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
				></script>

		<script
				defer
				src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
				></script>

		<title>MySchoolEra</title>
	</head>
	<body>
		<header class="header">
			<a href="/" style="text-decoration: none;">
				<span class="logo" style="font-weight: bold; color: #333; font-size: 32px;">
					<span style="color: #1a73e8;">M</span>y<span style="color: #ea4335;">S</span>chool<span style="color: #fbbc05;">E</span>ra
				</span>
			</a>
			<nav class="main-nav">
				<ul class="main-nav-list">
					<li><a class="main-nav-link" href="/admin">login as Director</a></li>
					<li>
						<li><a class="main-nav-link" href="/login">Login</a></li>
						<li>
							<li><a class="main-nav-link nav-cta" href="/signup">Sign Up for free</a></li>
				</ul>
			</nav>

			<button class="btn-mobile-nav">
				<ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
				<ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
			</button>
		</header>

		<main>

			<section class="section-cta" id="cta">
				<div class="container">
					<div class="cta">
						<div class="cta-text-box">
							<h2 class="heading-secondary">Login as director</h2>
							<p class="cta-text">
							Login for managing your school tasks.
							</p>

							<form class="cta-form" name="login" method="post" action="/login">
								<div>
									<label for="password">Password</label>
									<input
											id="password"
											type="password"
											placeholder="Enter your password..."
											name="password"
											required
											/>
								</div>
								<button class="btn btn--form" type="submit">Login</button>
							</form>

						</div>

					</div>
				</div>
			</section>
		</main>
		<script src="js/loginAdmin.js"></script>
	</body>
</html>
